body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

/* resset */
a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* heder */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.heder-container {
    display: flex;
    align-items: center;
    width: 1158px;
}

.navigat {
    display: flex;
    align-items: center;
}

.emblem {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 40px;
}

.poret {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
}

.poret:hover,
.poret:focus {
    color: #404bbf;
}

.restun-ofer {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.restun-ofer::after {
    content: '';
    position: absolute;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    color: #404bbf;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.navigation-list:hover,
.navigation-list:focus {
    color: #404bbf;
}

.adres-norm {
    font-style: normal;
    margin-left: auto;
}

.contakt-lust {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.mail-fonts {
    color: #434455;
    display: block;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-fonts:hover,
.mail-fonts:focus {
    color: #404BBF;
}

/* Effective Solutions  */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.replik {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.07;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.content {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 169px;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content:hover,
.content:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.bottum-clas {
    padding: 188px 0;
    background-color: #2E2F42;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px
}

/* < page description  */
.tekster {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.spyp-description {
    width: calc((100% - 72px)/4);
   
}

.com-redset-border {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comer {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.retro {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 0px;
}

/* photo of the developers  */
.sectioner {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.agovres {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
}

.fotomen {
    display: flex;
    gap: 24px;
}

.ramka {
    padding: 32px 0;
}

.imy-developers {
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.info-developers {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.spusok-devep {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lust-iconu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.ppteri-iconu {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ikonku-com-redc {
    fill: #f4f4fd;
}

.porty-dwdwe {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porty-dwdwe:hover,
.porty-dwdwe:focus {
    background-color: #404bbf;
}
.foto{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

/* fotograf telton */
.agov {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    margin-bottom: 72px;
}

.telefonfoto {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}


.telcon-element {
    width: calc((100% - 48px) / 3);

}

.telcon-element:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telcon-element:hover .wuddha-imy {
    transform: translate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); }

.imy {
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    font-weight: 500;
}

.info-imy {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.restro {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.wuddha-imy {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px 164px 32px;
    transform: translateY(100%);
    padding: 40px 32px;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wuddha-divaiz {
    position: relative;
    overflow: hidden;
}

/* < futter */
.kolorstudio-p {
    color: #f4f4fd;
}

.tekct {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: #F4F4FD;
}

.topctor{
    padding: 100px 0 100px;
    background-color: #2e2F42;
}

.emberand {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.dla-futera {
    margin-right: 80px;
}

.futer-iconu {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ppteri-futer {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.futr-tecst {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.futeh-raou {
    display: flex;
    align-items: baseline;
}

.verones-fytet {
    margin-right: 120px;
}

.ikonku-coman {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ikonku-coman:hover,
.ikonku-coman:focus {
    background-color: #31d0aa;
}

.iko-red {
    fill: #f4f4fd;
}

.subscribe-form {
    display: flex;
    gap: 16px;
}

.subscribe-input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2e2f42;
    color: #ffffff;
    width: 264px;
    height: 40px;
}

.subscribe-input::placeholder {
    color: #ccc;
}

.subscribe-icon {
    fill: white;
}

.ico-furer {
    fill: white;
}


.futr-tecst {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    width: 100%;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
}

.subscribe-label {
    display: block;
}

.subscribe-input {
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
}

.subscribe-input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

.sub-button {
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    color: white;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button:hover,
.sub-button:focus {
    background-color: #404bbf;
}

.ico-furer {
    fill: white;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

/*MODEL*/
:root {
    --accent-color: #4d5ae5;
    --icon-active-color: #f4f4fd;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
    fill: #ffffff;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.input-label {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-wrapper {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #4d5ae5;
}

.input:focus+.input-icon {
    fill: #4d5ae5;
}

.input-icon {
    display: inline-block;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4d5ae5;
}

.policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.derbon {
    margin-right: 8px ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+.policy-label .derbon {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd; }

.checkbox-icon {
    width: 10px;
    height: 8px;
}

.policy-label a {
    color: #4d5ae5;
    margin-left: 4px;
    font-size: 12px;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.submit-btn {
    background-color: #4d5ae5;
    color: #ffffff;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
 background-color: #404bbf; }

.subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.futr-tecst {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    width: 100%;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
}

.subscribe-label {
    display: block;
}

.subscribe-input {
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
}

.subscribe-input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

.sub-button {
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    color: white;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button:hover,
.sub-button:focus {
    background-color: #404bbf;
    border: none;
}

.ico-furer {
    fill: white;
    width: 24px;
    height: 24px;
    margin-left: 16px;}

        .field-rest{
            margin-bottom: 16px;
        }
        .checkbox-policy-wrapper {
            margin-bottom: 24px;
        }
        .form-field {
            margin-bottom: 8px;   }