.hiden{
    display: none;  
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

/* resset */
a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;}
    
    img {
    display: block;
    max-width: 100%;
    height: auto;  
 }
 button{
    cursor: pointer;
 }

 /* conmmon */
 .container {
     max-width: 320px;
     margin: 0 auto;
     padding: 0 16px;
 }
  @media screen and (min-width: 768px) { 
    .container {
    max-width: 768px;
  }}

  @media screen and (min-width: 1158px) {
      .container {
        max-width: 1158px;
        padding: 0 15px;
      }
  }

     /* heder */

    .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);   
    }

    .heder-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
      }

      .navigation-list,
      .adres-norm{
        display: none;
      }
      
      .emblem {
              font-family: "Raleway", sans-serif;
              font-size: 18px;
              font-weight: 700;
              line-height: 21px;
              letter-spacing: 0.03em;
              line-height: 1.17;
              text-transform: uppercase;
              color: #4d5ae5;
            }

        .kolorstudio {
               color: #2E2F42;
                }
        .heder-logo{
              padding: 16px 0;
              margin-right: 76px;
              display: block; 
                }
        .burger-btn{
            padding: 0;
            border: none;
            background-color: transparent;
            display: block;
            fill: #2f2f37;
        }
            @media screen and (min-width: 768px) {
            .burger-btn {
             display: none;     
             }
            .navigat{
            display: flex;
            align-items: center;
            }
            .navigation-list {
            display: flex;
            align-items: center;
            gap: 40px;              
            }

            .heder-logo {
             padding: 24px 0;
             margin-right: 120px;    
            }        
            
           .poret{
            color: #434455;
            display: block;
            position: relative;
            padding: 24px 0;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-size: 16px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
            
            .restun-ofer{ 
            position: relative;
            }
            .restun-ofer::after{
              content: "";
              position: absolute;
              bottom: -1px;
              width: 100%;
              height: 4px;
              left: 0;
              border-radius: 2px;
              background-color: #404bbf;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)

            }
           
                .poret:hover,
                .poret:focus {
                    color: #404bbf;
                }
        
                .restun-ofer {
                    color: #404bbf;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }  
                .poret:hover,
                .poret:focus,
                .contakt-lust:hover,
                .contakt-lust:focus{
                 color: #404bbf;
              }

                .adres-norm {
                 display: block;
                 font-style: normal;}

                .contakt-lust {
                display: flex;
                flex-direction: column;
                gap: 12px;}
            
                .mail-fonts {
                color: #434455;
                display: block;
                line-height: 1.17;
                letter-spacing: 0.04em;
                font-size: 12px;

                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }}
             @media screen and (min-width: 1158px) {
             .container {
                margin-right: 76px;}

              .contakt-lust {
              align-items: center;
              flex-direction: row;
              gap: 40px;
                              }
              .mail-fonts {
                padding: 24px 0;
                line-height: 1.5;
                letter-spacing: 0.02em;
                font-size: 16px;
               }}
                 /* MOBAIL MENU */

                   .mobile-menu{
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: #FFFFFF;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;

                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                    .mobile-menu.is-open{
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                    .mobile-menu-conteiner{
                        position: relative;
                        padding-top: 72px;
                        padding-bottom: 40px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    }
                    .mobile-menu-cloys{
                      position: absolute;
                      top: 24px;
                      right: 24px;                  
                    }

                      .mobile-menu-nav{
                     margin-bottom: auto;
                      }
                      
                     .mobile-navigation-list {
                     display: flex;
                     flex-direction: column;
                     gap: 40px;
                     margin-bottom: 40px;
                     }
                    
                    .mobile-contacts {
                    font-style: normal;
                    margin-bottom: 48px;
                    }
                    
                    .mobile-contact-list {
                     display: flex;
                     flex-direction: column;
                     gap: 24px;                     
                    }

                    .restun-ofer-dor {
                     color: #404bbf;
                    font-weight: 700;     
                    font-size: 36px;
                    line-height: 111%;
                    letter-spacing: 0.02em;
                }

                    .restun-ofer-dor-ran{
                    color: #2e2f42;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 111%;
                    letter-spacing: 0.02em;   
                    }

                    .iconu-mobail{
                     display: flex;
                     justify-content: center;
                     gap: 40px;

                    }
                      .iconu-moder {
                     width: 40px;
                     height: 40px;
                     border-radius: 50px;
                     background-color: #4d5ae5;
                     display: flex;
                     align-items: center;
                     justify-content: center;                
                     }
                     .ikonku-coman{
                      width: 100%;
                        height: 100%;
                        background-color: #4d5ae5;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);                 
                      }
                        .iko-red {
                         fill: #f4f4fd;                   
                        }
                   @media screen and (min-width: 768px) {
                   .mobile-menu {
                    display: none;
                     } }

                      /* 1 СЕКЦІЯ З ФОТО */
                    .replik {
                     font-size: 36px;
                     font-weight: 700;
                     line-height: 111%;
                      letter-spacing: 0.02em;
                      text-align: center;
                      color: #FFFFFF;
                      margin-left: auto;
                      margin-right: auto;
                      max-width: 216px;

                                             }
                      
                        .content {
                         font-family: "Roboto", sans-serif;
                           font-size: 16px;
                          font-weight: 500;
                            line-height: 24px;
                          letter-spacing: 0.04em;
                            color: #FFFFFF;
                            background-color: #4D5AE5;
                              cursor: pointer;
                             border-radius: 4px;
                             height: 56px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 72px;
                            min-width: 169px;
                            display: block;
                            border: none;
                            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                            }
                      
                       .content:hover,
                       .content:focus {
                        background-color: #404BBF;
                       cursor: pointer;
                          }
                      
                         .bottum-clas {
                           padding: 72px 0;
                            background-color: #2E2F42;
                            margin: 0 auto;
                            margin-bottom: 96px;
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                           rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
                           background-repeat: no-repeat;
                            background-position: center;
                             background-size: cover;
                               max-width: 1440px
                                            }
                          @media screen and (min-width: 768px){
                          .replik{
                           font-weight: 700;
                           font-size: 56px;
                           line-height: 107%;
                             max-width: 496px
                            }
                            .content{
                            margin-top: 36px;
                            }
                             .bottum-clas {
                             padding: 112px 0;
                          }}
                           @media screen and (min-width: 1158px){
                            .content {
                                margin-top: 48px;
                              }
                              .bottum-clas {
                                padding: 188px 0;
                                margin-bottom: 120px;
                           }
                          }


                     /* "2 СЕКЦІЯ З ІКОНАМИ */
                      .tekster {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      align-items: stretch;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 24px;
                      letter-spacing: 0.02em;
                      text-align: left;
                      width: 100%;
                      gap: 72px;
                    }
                    
                     .comer {
                      font-size: 36px;
                      font-weight: 700;
                      line-height: 111%;
                      letter-spacing: 0.02em;
                      text-align: center;       
                      color: #2e2f42;
                    }
                
                    .retro {
                      font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        letter-spacing: 0.02em;
                        color: #434455;
                    }
                      .container-gerst{
                        margin-bottom: 96px;
                      }

                     @media screen and (max-width: 1158px) {
                       .com-redset-border{
                        display: none;}
                          .ikonku-com{
                            display: none;
                          }}

                     @media screen and (min-width: 768px) {
                     
                      .tekster {
                          display: flex;
                          flex-wrap: wrap;
                          justify-content: space-between;
                          gap: 24px;
                          width: 736px;
                          height: 312px;
                        }
                      
                        .spyp-description {
                          width: calc((100% - 24px) / 2);
                         
                        }  
                        .comer {
                        text-align: left;}}

                         @media screen and (min-width: 1158px){
                          .tekster {
                              display: flex;
                              justify-content: space-between;
                              align-items: stretch;
                              font-size: 16px;
                              font-weight: 500;
                              line-height: 24px;
                              letter-spacing: 0.02em;
                              text-align: left;
                              gap: 24px;
                              width: 1128px;
                              height: 224px;
                            }
                          
                            .spyp-description {
                              width: calc((100% - 72px)/4);
                          
                            }
                          
                            .com-redset-border {
                              border: 1px solid #8e8f99;
                              border-radius: 4px;
                              width: 264px;
                              height: 112px;
                              background: #f4f4fd;
                              margin-bottom: 8px;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            }
                          
                            .comer {
                              font-size: 20px;
                              font-weight: 500;
                              line-height: 24px;
                              letter-spacing: 0.02em;
                              color: #2e2f42;
                              margin-bottom: 8px;
                            }
                          
                            .retro {
                              font-size: 16px;
                              font-weight: 400;
                              line-height: 24px;
                              letter-spacing: 0.02em;
                              color: #434455;
                              margin-bottom: 0px;
                            }
                         }

                       
                   /* "3 СЕКЦІЯ З ІКОНАМИ */
              
                    .sectioner {
                        width: 100%;
                        background: #f4f4fd;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 96px;
                    }
                     .agovres {
                      padding-top: 96px;
                      font-size: 36px;
                       font-weight: 700;
                       letter-spacing: 0.02em;
                       text-align: center;
                       color: #2e2f42;
                         line-height: 1.11;
                         margin-bottom: 72px;            
                         }
                     .fotomen {
                      display: flex;
                       flex-direction: column;
                       gap: 72px;
                        padding: 0;
                         margin: 0;
                        list-style: none;
                        margin-bottom: 96px;
                                        }

                         .ramka {
                         padding: 32px 0;
                          }
                                        
                          .imy-developers {
                          margin-bottom: 8px;
                          font-weight: 500;
                          font-size: 20px;
                          line-height: 1.11;
                          letter-spacing: 0.02em;
                          color: #2e2f42;
                           text-align: center;
                            }
                                        
                            .info-developers {
                           font-weight: 400;
                           font-size: 16px;
                           margin-bottom: 8px;
                           line-height: 1.11;
                            letter-spacing: 0.02em;
                             text-align: center;
                             color: #434455;
                            }
              
                                        
                              .lust-iconu {
                                display: flex;
                                justify-content: center;
                                gap: 24px;
                                 margin-top: 8px;
                                   }
                                        
                                 .ppteri-iconu {
                                   width: 40px;
                                    height: 40px;
                                     border-radius: 50px;
                                       background-color: #4d5ae5;
                                        display: flex;
                                        align-items: center;
                                         justify-content: center;
                                          }
                                        
                                           .ikonku-com-redc {
                                            fill: #f4f4fd;
                                             }
                                        
                                             .porty-dwdwe {
                                              width: 100%;
                                              height: 100%;
                                              background-color: #4d5ae5;
                                              border-radius: 50%;
                                              display: flex;
                                              align-items: center;
                                               justify-content: center;
                                              transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                                }
                                        
                                              .porty-dwdwe:hover,
                                              .porty-dwdwe:focus {
                                                background-color: #404bbf;
                                                                                }
                                        
                                               .foto {
                                                border-radius: 0px 0px 4px 4px;
                                                box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                                                background: #fff; 
                                                width: 100%;
                                              }
                                                 
                                            @media screen and (min-width: 768px) {
                                             .sectioner .container {
                                              max-width: 100%;
                                              }
                                              
                                            .fotomen {
                                             display: flex;
                                             flex-direction: row;
                                             flex-wrap: wrap;
                                               gap: 24px;
                                              justify-content: center;
                                              align-items: center;
                                              max-width: calc(264px * 2 + 24px + 108px * 2);
                                               margin-left: auto;                
                                               margin-right: auto;
                                  
                                                }
                                              
                                               .foto {
                                                width: 264px;
                                                flex-grow: 0;
                                                flex-shrink: 0;
                                                margin: 0;
                                                 }
                                                   }
                                                @media screen and (min-width: 1158px){
                                                  .agovres {
                                                      margin-bottom: 80px;
                                                    
                                                    }
                                                  
                                                    .fotomen {
                                                      flex-direction: row;
                                                      flex-wrap: nowrap;
                                                      gap: 24px;
                                                      max-width: calc(264px * 4 + 24px * 3);
                                                      margin-left: auto;
                                                      margin-right: auto;
                                                      padding: 0;
                                                      justify-content: center;
                                                      margin-bottom: 120px;

                                                    }
                                                    .foto {
                                                      width: 264px;
                                                    }  } 
                                              /* "4 СЕКЦІЯ З ІКОНАМИ */
                                              .agov {
                                                font-size: 28px;
                                                font-weight: 700;
                                                letter-spacing: 0.02em;
                                                text-align: center;
                                                color: #2e2f42;
                                                line-height: 1.11;
                                                margin-bottom: 72px;
                                              }
                                              
                                                .telefonfoto {
                                                display: flex;
                                                 flex-direction: column;
                                                 align-items: center;
                                                  gap: 48px;
                                                 height: 400px;
                                                
                                                   overflow-y: auto;
                                                 
                                                     padding: 0;
                                                     margin: 0;
                                                    list-style: none;                                             }
                                                  .telcon-element {
                                                    width: 100%;
                                                    max-width: 360px;                                             }
                                              
                                              .telcon-element:hover {
                                                box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                                                  0 1px 1px 0 rgba(46, 47, 66, 0.16),
                                                  0 1px 6px 0 rgba(46, 47, 66, 0.08);
                                                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                              }
                                              
                                              .telcon-element:hover .wuddha-imy {
                                                transform: translate(0);
                                                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                              }
                                              
                                              .imy {
                                                font-size: 20px;
                                                line-height: 1.11;
                                                letter-spacing: 0.02em;
                                                color: #2e2f42;
                                                margin-bottom: 8px;
                                                font-weight: 500;
                                              }
                                              
                                              .info-imy {
                                                font-size: 16px;
                                                font-weight: 400;
                                                line-height: 1.11;
                                                letter-spacing: 0.02em;
                                              }
                                              
                                              .restro {
                                                padding: 32px 16px;
                                                border: 1px solid #e7e9fc;
                                                border-top: none;
                                              }
                                              
                                              .wuddha-imy {
                                                position: absolute;
                                                top: 0;
                                                background-color: #4d5ae5;
                                                line-height: 1.11;
                                                letter-spacing: 0.02em;
                                                color: #f4f4fd;
                                                padding: 40px 32px;
                                                transform: translateY(100%);
                                                height: 100%;
                                                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                              }
                                              
                                              .wuddha-divaiz {
                                                position: relative;
                                                overflow: hidden; }

         