.hiden{
    display: none;  
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

/* resset */
a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;}
    
    img {
    display: block;
    max-width: 100%;
    height: auto;  
 }
 button{
    cursor: pointer;
 }

 /* conmmon */
 .container {
     max-width: 320px;
     margin: 0 auto;
     padding: 0 16px;
 }
  @media screen and (min-width: 768px) { 
    .container {
    max-width: 768px;
  }}

  @media screen and (min-width: 1158px) {
      .container {
        max-width: 1158px;
        padding: 0 15px;
      }
  }

     /* heder */

    .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);   
    }

    .heder-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
      }

      .navigation-list,
      .adres-norm{
        display: none;
      }
      
      .emblem {
              font-family: "Raleway", sans-serif;
              font-size: 18px;
              font-weight: 700;
              line-height: 21px;
              letter-spacing: 0.03em;
              line-height: 1.17;
              text-transform: uppercase;
              color: #4d5ae5;
            }

        .kolorstudio {
               color: #2E2F42;
                }
        .heder-logo{
              padding: 16px 0;
              margin-right: 76px;
              display: block; 
                }
        .burger-btn{
            padding: 0;
            border: none;
            background-color: transparent;
            display: block;
            fill: #2f2f37;
        }
            @media screen and (min-width: 768px) {
            .burger-btn {
             display: none;     
             }
            .navigat{
            display: flex;
            align-items: center;
            }
            .navigation-list {
            display: flex;
            align-items: center;
            gap: 40px;              
            }

            .heder-logo {
             padding: 24px 0;
             margin-right: 120px;    
            }        
            
           .poret{
            color: #434455;
            display: block;
            position: relative;
            padding: 24px 0;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-size: 16px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
            
            .restun-ofer{ 
            position: relative;
            }
            .restun-ofer::after{
              content: "";
              position: absolute;
              bottom: -1px;
              width: 100%;
              height: 4px;
              left: 0;
              border-radius: 2px;
              background-color: #404bbf;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)

            }
           
                .poret:hover,
                .poret:focus {
                    color: #404bbf;
                }
        
                .restun-ofer {
                    color: #404bbf;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }  
                .poret:hover,
                .poret:focus,
                .contakt-lust:hover,
                .contakt-lust:focus{
                 color: #404bbf;
              }

                .adres-norm {
                 display: block;
                 font-style: normal;}

                .contakt-lust {
                display: flex;
                flex-direction: column;
                gap: 12px;}
            
                .mail-fonts {
                color: #434455;
                display: block;
                line-height: 1.17;
                letter-spacing: 0.04em;
                font-size: 12px;

                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }}
             @media screen and (min-width: 1158px) {
             .container {
                margin-right: 76px;}

              .contakt-lust {
              align-items: center;
              flex-direction: row;
              gap: 40px;
                              }
              .mail-fonts {
                padding: 24px 0;
                line-height: 1.5;
                letter-spacing: 0.02em;
                font-size: 16px;
               }}
                 /* MOBAIL MENU */

                   .mobile-menu{
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: #FFFFFF;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;

                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                    .mobile-menu.is-open{
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                    .mobile-menu-conteiner{
                        position: relative;
                        padding-top: 72px;
                        padding-bottom: 40px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    }
                    .mobile-menu-cloys{
                      position: absolute;
                      top: 24px;
                      right: 24px;                  
                    }

                      .mobile-menu-nav{
                     margin-bottom: auto;
                      }
                      
                     .mobile-navigation-list {
                     display: flex;
                     flex-direction: column;
                     gap: 40px;
                     margin-bottom: 40px;
                     }
                    
                    .mobile-contacts {
                    font-style: normal;
                    margin-bottom: 48px;
                    }
                    
                    .mobile-contact-list {
                     display: flex;
                     flex-direction: column;
                     gap: 24px;                     
                    }

                    .restun-ofer-dor {
                     color: #404bbf;
                    font-weight: 700;     
                    font-size: 36px;
                    line-height: 111%;
                    letter-spacing: 0.02em;
                }

                    .restun-ofer-dor-ran{
                    color: #2e2f42;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 111%;
                    letter-spacing: 0.02em;   
                    }

                    .iconu-mobail{
                     display: flex;
                     justify-content: center;
                     gap: 40px;

                    }
                      .iconu-moder {
                     width: 40px;
                     height: 40px;
                     border-radius: 50px;
                     background-color: #4d5ae5;
                     display: flex;
                     align-items: center;
                     justify-content: center;                
                     }
                     .ikonku-coman{
                      width: 100%;
                        height: 100%;
                        background-color: #4d5ae5;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);                 
                      }
                        .iko-red {
                         fill: #f4f4fd;                   
                        }
              
                    
                   @media screen and (min-width: 768px) {
                   .mobile-menu {
                    display: none;
                     } }

















